h1 {
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron {
    background: lightblue;
    border: black;
    border-style: solid;
    
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 10px;
    border: black;
    border-style: solid;
    
}

button {
    margin-top: 2.5%;
}
